<div class="gigs panel callout radius">
  <%= form_for :session, url: session_path do |form| %>
    <div>
      <%= form.label :email %>
      <%= form.email_field :email %>
    </div>
    <div>
      <%= form.label :password %>
      <%= form.password_field :password %>
    </div>
    <div>
      <%= form.submit "Sign in", class: "button" %>
      <%= link_to "Sign up", new_user_path, class: "button" %>
    </div>
  <% end %>
</div>
